@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<section id=" about" class="about section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-12">
                <div class="about-img">
                    <img src="~/Pictures/real ragnarock.jpg" alt="" class="img-fluid rounded float-left mt-5 pt-5" />
                </div>
            </div>
            <div class="col-lg-8 col-md-12 ps-lg-5 mt-md-5">
                <div class="about-text">
                    <h2>Powered By Ragarock</h2>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam elit, hendrerit at arcu quis, malesuada molestie risus. Quisque dapibus hendrerit quam, pellentesque vehicula lorem facilisis id. Duis ut auctor arcu. Cras ac fermentum dui. Donec vitae posuere enim, in maximus sapien. Curabitur tincidunt urna in placerat cursus. Donec aliquam, nibh a malesuada volutpat, tortor mauris mattis dui, vitae rutrum velit nisl ac urna. Phasellus at nunc tincidunt, viverra sapien vitae, pharetra tellus. Duis eu lectus a massa molestie elementum. Maecenas porttitor faucibus sagittis. Nam pharetra mattis sodales. Maecenas a erat varius erat sollicitudin auctor nec at tortor.</p>
                    <a href="#" class="btn btn-dark">Read More</a>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="services" class="services section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <h2> Our Services</h2>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam elit, hendrerit at arcu quis, malesuada molestie risus. Quisque dapibus hendrerit quam, pellentesque vehicula lorem facilisis id. Duis ut auctor arcu. Cras ac fermentum dui. Donec vitae posuere enim, in maximus sapien. Curabitur tincidunt urna in placerat cursus. Donec aliquam, nibh a malesuada volutpat, tortor mauris mattis dui, vitae rutrum velit nisl ac urna. Phasellus at nunc tincidunt, viverra sapien vitae, pharetra tellus. Duis eu lectus a massa molestie elementum. Maecenas porttitor faucibus sagittis. Nam pharetra mattis sodales. Maecenas a erat varius erat sollicitudin auctor nec at tortor.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-4">
                <div class="card text-white text-center bg-dark pb-2">
                    <div class="card-body">
                        <i class="bi bi-wrench-adjustable"></i>
                        <h3 class="card-title"> Quality Assurance & Quality Control  </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam elit, hendrerit at arcu quis, malesuada molestie risus. Quisque dapibus hendrerit quam, pellentesque vehicula lorem facilisis id. Duis ut auctor arcu. Cras ac fermentum dui. Donec vitae posuere enim, in maximus sapien. Curabitur tincidunt urna in placerat cursus. Donec aliquam, nibh a malesuada volutpat, tortor mauris mattis dui, vitae rutrum velit nisl ac urna. Phasellus at nunc tincidunt, viverra sapien vitae, pharetra tellus. Duis eu lectus a massa molestie elementum. Maecenas porttitor faucibus sagittis. Nam pharetra mattis sodales. Maecenas a erat varius erat sollicitudin auctor nec at tortor. </p>
                        <a href="#" class="btn btn-dark">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
                <div class="card text-white text-center bg-dark pb-2">
                    <div class="card-body">
                        <i class="bi bi-cart"></i>
                        <h3 class="card-title"> Worldwide Shipping</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam elit, hendrerit at arcu quis, malesuada molestie risus. Quisque dapibus hendrerit quam, pellentesque vehicula lorem facilisis id. Duis ut auctor arcu. Cras ac fermentum dui. Donec vitae posuere enim, in maximus sapien. Curabitur tincidunt urna in placerat cursus. Donec aliquam, nibh a malesuada volutpat, tortor mauris mattis dui, vitae rutrum velit nisl ac urna. Phasellus at nunc tincidunt, viverra sapien vitae, pharetra tellus. Duis eu lectus a massa molestie elementum. Maecenas porttitor faucibus sagittis. Nam pharetra mattis sodales. Maecenas a erat varius erat sollicitudin auctor nec at tortor. </p>
                        <a href="#" class="btn btn-dark">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
                <div class="card text-white text-center bg-dark pb-2">
                    <div class="card-body">
                        <i class="bi bi-currency-dollar"></i>
                        <h3 class="card-title"> Money-back Guarantee</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam elit, hendrerit at arcu quis, malesuada molestie risus. Quisque dapibus hendrerit quam, pellentesque vehicula lorem facilisis id. Duis ut auctor arcu. Cras ac fermentum dui. Donec vitae posuere enim, in maximus sapien. Curabitur tincidunt urna in placerat cursus. Donec aliquam, nibh a malesuada volutpat, tortor mauris mattis dui, vitae rutrum velit nisl ac urna. Phasellus at nunc tincidunt, viverra sapien vitae, pharetra tellus. Duis eu lectus a massa molestie elementum. Maecenas porttitor faucibus sagittis. Nam pharetra mattis sodales. Maecenas a erat varius erat sollicitudin auctor nec at tortor. </p>
                        <a href="#" class="btn btn-dark">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


